.text-center{
    text-align: center;
}
.container{
    margin: auto ;
    /* background-color: black; */
    background-image: url("bg-img.jpg");
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
}
.mx-30{
    max-width: 370px;
}
.flex{
    display: flex;
} 
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
